<configuration>
    <Url>https://opensource-demo.orangehrmlive.com/</Url>
    <browser>chrome</browser>
    <headless>true</headless>
    <!-- window size is used when run on headless mode, otherwise will maximise to screen resolution -->
    <window>desktop</window>
    <ScreenShotOnFail>true</ScreenShotOnFail>
    <ScreenShotOnPass>true</ScreenShotOnPass>
</configuration>
